<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Deployed from OpenShift</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <div id="root">
    <div lang="en-US" class="grommet grommetux-app" aria-hidden="false" style="top: 0px; left: 0px;">
      <div class="grommetux-box grommetux-box--direction-column grommetux-box--responsive grommetux-box--pad-none grommetux-box--flex-off">
        <header class="grommetux-box grommetux-box--direction-row grommetux-box--align-center grommetux-box--pad-horizontal-none grommetux-box--pad-vertical-none grommetux-box--pad-between-small grommetux-background-color-index-brand grommetux-background-color-index--dark grommetux-header">
          <div class="grommetux-box grommetux-box--direction-row grommetux-box--responsive grommetux-box--pad-none grommetux-box--margin-medium">

            <h2 class="grommetux-heading grommetux-heading--align-center">HPE CIC OpenShift deployment from GitHub</h2>

          </div>
        </header>
      </div>
      <h1 class="grommetux-heading grommetux-heading--align-center grommetux-heading--margin-medium">Welcome to our OpenShift integration website!</h1>
      <div class="grommetux-box grommetux-box--direction-column grommetux-box--align-center grommetux-box--responsive grommetux-box--pad-none">
        <div class="grommetux-box grommetux-box--direction-row grommetux-box--align-center grommetux-box--pad-none grommetux-title grommetux-title--responsive grommetux-title--truncate">
          <span>Your app has beens served through pod <%= hostname %> </span>
          <svg class="grommetux-status-icon grommetux-status-icon-ok" viewBox="0 0 24 24" role="img" aria-label="OK" version="1.1">
            <defs>
              <mask id="mask-ok-0">
                <g class="grommetux-status-icon__detail">
                  <rect x="0" y="0" width="24" height="24" fill="#fff">
                  </rect>
                  <path d="M10,17.4 L5.3,12.7 L6.7,11.3 L10,14.6 L17.3,7.3 L18.7,8.7 L10,17.4 Z" stroke="none" fill="#000">
                  </path>
                </g>
              </mask>
            </defs>
            <g class="grommetux-status-icon__base" mask="url(#mask-ok-0)">
              <circle cx="12" cy="12" r="12" stroke="none">
              </circle>
            </g>
          </svg>
          <span> !</span>
        </div>
      </div>
      <div class="grommetux-split">
        <div class="grommetux-split__column grommetux-split__column--fixed grommetux-split__column--flex">
          <div class="grommetux-box grommetux-box--direction-column grommetux-box--justify-center grommetux-box--align-center grommetux-box--responsive grommetux-box--pad-medium">
            <div class="grommetux-hero grommetux-hero--medium grommetux-hero--stack">
              <div class="grommetux-hero__background">
                <img src="hero.png" class="grommetux-image grommetux-image--medium grommetux-image--contain grommetux-image--full">
              </div>
              <div class="grommetux-hero__foreground">
              </div>
            </div>
          </div>
        </div>
        <div class="grommetux-split__column grommetux-split__column--fixed grommetux-split__column--flex">
          <div class="grommetux-box grommetux-box--direction-column grommetux-box--align-center grommetux-box--responsive grommetux-box--pad-medium">
            <div class="grommetux-hero grommetux-hero--medium grommetux-hero--stack">
              <div class="grommetux-hero__background">
                <img src="logohpe.png" class="grommetux-image grommetux-image--medium grommetux-image--contain grommetux-image--full">
              </div>
              <div class="grommetux-hero__foreground">
              </div>
            </div>
          </div>
        </div>
      </div>
      <span style="display: none;" id="-444023097">
      </span>
      <div class="grommetux-app__announcer" aria-live="polite">
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/js/main.e1ae4cc9.js">
  </script>
</body></html>
